html, button, input, select, textarea {
color:#444;
}
html{ font-size : 1em;
line-height:1.4;
}
body{background-color:#4712;
}
#wrapper {
	max-width: 900px;
	min-width: 320px;
	margin-left: 500px;
	margin-right: 500px;
}
body img{
	border: 1px solid;
	border-radius: 3px;
	border-color:#ccc;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	float: right;
}
h1 {
	font-family: atomic-age, sans-serif;
}

p {font-family: asul, sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #125688;
  color: white;
}